.Menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  text-align: left;
  background-color: rgb(51, 57, 66);
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: [logo] 50px [menu-items] auto 50px [settings];
  align-items: flex-end;
  z-index: 1;
}

.menu-items > a:link {
  color: white;
  text-decoration: none;
  transform: scaleY(1.1);
}

.menu-items > a:visited {
  color: white;
}

.menu-items > a:link:hover {
  text-decoration: underline;
}

.logout-button {
  color: red;
}

.cv-app-logo {
  grid-area: logo;
  margin: 3px;
  padding: 7px;
}

.menu-items {
  grid-area: menu-items;
  margin-left: 0px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.menu-item {
  padding: 10px;
  margin: 4px;
  height: 24px;
  font-weight: 600;
}

.settings {
  grid-area: settings;
  justify-self: right;
  margin: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-flow: row;
}

.setting-item {
  text-align: end;
}

.selected {
  background-color: rgb(115, 119, 131);
}