.Menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  text-align: left;
  background-color: rgb(51, 57, 66);
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: [logo] 50px [menu-items] auto [loader] 50px [settings];
  align-items: flex-end;
  z-index: 1;
}

@media print {
  .Menu {
    visibility: hidden;
  }
}



.menu-items > a:link {
  color: white;
  text-decoration: none;
  transform: scaleY(1.1);
}

.menu-items > a:visited {
  color: white;
}

.menu-items > a:link:hover {
  text-decoration: underline;
}

.logout-button {
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  padding: 4px;
  min-width: 30px;
  border: solid 3px rgb(41, 41, 41);
  border-radius: 10px;
  margin-top: 10px;
  margin: 1px 3px 1px 3px;
  background-color: rgb(82, 82, 82);
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

.logout-button img {
  opacity: 1;
  width: 15px;
  position: relative;
  top: 3px;
  padding-right: 4px;
}

.logout-button:hover {
  background-color: rgb(118, 118, 118);
  border: solid 3px rgb(23, 23, 23);
  cursor: pointer;
}

.cv-app-logo {
  grid-area: logo;
  margin: 3px;
  padding: 7px;
}

.menu-items {
  grid-area: menu-items;
  margin-left: 0px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.menu-item {
  padding: 10px;
  margin: 4px;
  height: 24px;
  font-weight: 600;
}

.loader {
  grid-area: loader;
  padding: 10px;
  margin: 4px;
  height: 24px;
  font-weight: 600;
}

.settings {
  grid-area: settings;
  justify-self: end;
  align-self: bottom;
  margin-top: 0px;
  margin-bottom: 18px;
  margin-right: 5px;
  display: flex;
  flex-flow: row;
}

.setting-item {
  text-align: end;
}

.selected {
  background-color: rgb(115, 119, 131);
}

@media only screen and (max-width: 600px) {
  .Menu {
    height: 60px;
    display: flex;
    align-items: flex-start;
    justify-items: stretch;
    grid-template-columns: [menu-items] auto 50px [settings];
  }

  .cv-app-logo {
    display:none;
  }

  .settings {
    position: absolute;
    margin-top: 62px;
  }

  .menu-item {
      height: 32px;
  }

}