.Menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  text-align: left;
  background-color: rgb(51, 57, 66);
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: [logo] 50px [menu-items] auto [loader] 50px [settings];
  align-items: flex-end;
  z-index: 1;
  
  @media print {
    visibility: hidden;
  }
}

.menu-items {
  & > a:link {
    color: white;
    text-decoration: none;
    transform: scaleY(1.1);
  }
  
  & > a:visited {
    color: white;
  }
  
  & > a:link:hover {
    text-decoration: underline;
  }
}

.logout-button {
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  padding: 4px;
  min-width: 30px;
  border: solid 3px rgb(41, 41, 41);
  border-radius: 10px;
  margin-top: 10px;
  margin: 1px 3px 1px 3px;
  background-color: rgb(82, 82, 82);
  color: white;
  white-space: nowrap;
  overflow: hidden;
  
  img {
    opacity: 1;
    width: 15px;
    position: relative;
    top: 3px;
    padding-right: 4px;
  }
  
  &:hover {
    background-color: rgb(118, 118, 118);
    border: solid 3px rgb(23, 23, 23);
    cursor: pointer;
  }
}

.cv-app-logo {
  grid-area: logo;
  margin: 3px;
  padding: 7px;
}

.menu-items {
  grid-area: menu-items;
  margin-left: 0px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.menu-item {
  padding: 10px;
  margin: 4px;
  height: 24px;
  font-weight: 600;
}

.loader {
  grid-area: loader;
  padding: 10px;
  margin: 4px;
  height: 24px;
  font-weight: 600;
}

.settings {
  grid-area: settings;
  justify-self: end;
  align-self: bottom;
  margin-top: 0px;
  margin-bottom: 18px;
  margin-right: 5px;
  display: flex;
  flex-flow: row;
}

.setting-item {
  text-align: end;
}

.selected {
  background-color: rgb(115, 119, 131);
}

@media only screen and (max-width: 600px) {
  .Menu {
    height: 45px;
    display: flex;
    align-items: flex-start;
    justify-items: stretch;
    grid-template-columns: auto [menu-items] auto ;
  }

  .cv-app-logo {
    position: fixed;
    margin-top: -4px;
    margin-left: 0px;
    padding-left: 2px;
  }


  .menu-item {
    height: 32px;
    background-color: rgb(51, 57, 66);
  }
  .selected {
    background-color: rgb(115, 119, 131);
  }

  .menu-item {
    padding: 7px;
    margin: 4px;
    height: 24px;
    font-weight: 600;
  }

  .Menu {
    text-align: center;
    display: grid;
    grid-template-columns: auto [menu-items] auto;
  }

  .settings {
    margin-left: -110px;
  }
}

@media only screen and (max-width: 500px) {
  .settings {
    position: absolute;
    margin-top: 46px;
  }
}

@media only screen and (max-width: 440px) {
  .cv-app-logo {
    display: none;
  }
}