.cv-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cv-item div {
  width: 110px;
  height: 132px;
  padding: 20px;
  padding-top: 30px;

  font-size: 8px;
  overflow: hidden;

  margin: 2px;
}

.cv-item :focus, :hover, :visited, :link, :active {
  text-decoration: none;
}

.cv-item p {
  font-size: 3px;
}

.cv-item button {
  position: relative;
  bottom: 180px;
  left: 95px;
  opacity: 0;
}

.cv-item:hover button {
  opacity: 1;
}

.cv-selector a img {
  position: absolute;
  z-index: -1;
}

.cv-selector > img {
  opacity: 0.5;
  margin-bottom: 26px;
}

.cv-selector > img:hover {
  opacity: 1;
  cursor: pointer;
}

.cvFormContainer form {
  background-color: rgb(238, 238, 238);
  padding: 8px;
  padding-left: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.year-selector {
  width: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.month-selector {
  width: 85px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.day-selector {
  width: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.time-divider {
  margin: 5px;
  margin-bottom: 5px;
}

.language-panel {
  /* background-color:white; */
  grid-column-start: 2;
  grid-column-end: -1;

  text-align: center;
}

.language-pair {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 5px;
}

.language-pair select {
  height: 25px;
}

.timeFrameContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  grid-column-start: 2;
  grid-column-end: -1;
}

.form-component-container {
  display:flex;
  flex-wrap: wrap;
}

.form-component {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 522px;

  display: grid;
  grid-template-columns: 120px auto auto 20px auto auto
}

.form-component-empty {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 538px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  opacity: 0.5;
  z-index: 0;
}

.form-component-empty:hover {
  opacity: 1;
  border: solid 2px white;
  color: white;
  fill:rgb(255, 255, 255);
  cursor: pointer;
}

.form-component-empty:active {
  position: relative;
  top: 2px;
  opacity: 0.5;
  z-index: 0; 
}

.form-label {
  margin: 5px 0;
  font-size: 14px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.form-input {
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;

  grid-column-start: 2;
  grid-column-end: -1;
}

.form-input-language {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color:red;
}

.form-input-level{
  grid-column-start: 5;
  grid-column-end: 7;
}

.form-textarea {
  height: 150px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  font: inherit;
  font-size: 12px;

  grid-column-start: 2;
  grid-column-end: -1;
}

.form-button {
  height: 25px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  margin: 1px;
}

.form-button:active {
  background-color: white;
}

.language-pair .form-button {
  visibility: hidden;
}

.language-pair:hover .form-button {
  visibility: visible;
}

.add-language-button {
  margin-top: -5px;
  margin-bottom: 5px;
}

.form-delete-button {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgb(255, 187, 187);
  /* border-radius: 4px; */
}

.form-delete-button:disabled {
  background-color: rgb(226, 226, 226);
}

.form-clear-button {
  grid-column-start: 3;
  grid-column-end: 4;
}

.form-cancel-button {
  grid-column-start: -3;
  grid-column-end: -2;
}

.form-save-button {
  grid-column-start: -2;
  grid-column-end: -1;
}