table {
  border-collapse: collapse;
  width: 90%;
}

th {
    text-align: left;
    font-weight: 250;
}

td {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 8px;
}

tr button {
  visibility: hidden;
}

tr:hover button {
  visibility: visible;
}

table td:last-child {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}