table {
  border-collapse: collapse;
  display: table-row-group;
  min-width: 632px;
}

th {
  text-align: left;
  font-weight: 250;
}

td {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 8px;
  min-height: 37px;
  min-width: 73px;
}

tr button {
  visibility: hidden;
  text-align: center;
  font-size: 12px;
  font-weight:500;
  padding: 4px;
  padding-bottom: 7px;
  min-width: 30px;
  border: solid 3px rgb(225, 228, 233);
  border-radius: 10px;
  margin-top: 5px;
  margin: 1px 3px 1px 3px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
}

tr button img {
  opacity: 1;
  width: 15px;
  position: relative;
  top: 3px;
  padding-right: 0px;
}

tr:hover button {
  visibility: visible;
}

@-moz-document url-prefix() {
  tr button {
    visibility: visible;
  }
}

tr button:hover {
  background-color: rgb(255, 195, 195);;
  cursor: pointer;
}

table td:last-child {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.user-form-input {
  width: 100%;
  border-radius: 4px;
  border-style: solid;
  border-color: lightgrey;
  padding: 4px;
}